{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/globals.css' %}">
    {% block styles %}
    {% endblock %}
    <title>{% block title %}Common Template{% endblock %}</title>
</head>
<body>
    <!-- Control Bar-->
    <navbar>
        <div>
            <a href="{% url 'feed' %}">Home</a>
        </div>
        <div>
            <a href="{% url 'communitylist' %}">All Communities</a>
        </div>
        <div class="creatediv">
            <a href="{% url 'newthread' %}">Create</a>
            <ul>
                <li><a href="{% url 'newthread' %}">Post</a></li>
                <li><a href="{% url 'createcommunity' %}">Community</a></li>
            </ul>
        </div>
                    
        {% if user.is_authenticated %}
        <!-- User info -->
        <div class="userblock">
            <a href="{% url 'userposts' username=user.username %}">{{ user.username }}</a>
            <ul>
                <li><a href="{% url 'userposts' username=user.username %}">Profile</a></li>
                <li><a>Settings</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        {% else %}
        <div><a href="{% url 'signin' %}">Sign In</a></div>
        <div><a href="{% url 'register' %}">Register</a></div>
        {% endif %}
    </navbar>
    <!-- Content -->
    <main>
        <!-- Side Area -->
        <div class="common-sidearea">
            {% block sidearea %}
            {% endblock %}
        </div>
        <!-- Main Area -->
        <div class="common-mainarea">
            {% block mainarea %}
            {% endblock %}
        </div>
    </main>
</body>
</html>