
{% extends "common.html" %}

{% block title %}Posts - {{user.username}}{% endblock %}

{% block sidearea %}
<div>
    <b>About</b>
    <p>Username: {{user.username}}</p>
    <p>Birthday: {{userdata.birthday}}</p>
</div>

<div>
    <b>Communities</b>
    {% for community in communities %}
    <p><a href="{% url 'community' name=community.name %}">{{community.name}}</a></p>
    {% empty %} 
    <p>None yet!</p>
    {% endfor %}
</div>
{% endblock %}

{% block mainarea %}
<div>
    <h3>Threads</h3>
    {% for post in userdata.post_set %}
    <!-- get its thread and display it -->
    <b><a href="{% url 'thread' thread_pk=post.thread.pk post_pk=post.pk %}"></a></b>
    {% endfor %}
</div>
{% endblock %}