
{% extends "common.html" %}

{% block title %}Posts - {{viewed_userdata.user.username}}{% endblock %}

{% block sidearea %}
<h3>User</h3>
{% include "components/userblock.html" with user=user %}
<div>
    <b>Communities</b>
    {% for community in communities %}
    <p><a href="{% url 'community' name=community.name %}">{{community.name}}</a></p>
    {% empty %} 
    <p>None yet!</p>
    {% endfor %}
    <p><a href="{% url 'usercommunities' username=viewed_userdata.user.username %}">See all communities</a></p>
</div>
{% endblock %}

{% block mainarea %}
<div>
    <h3>Threads</h3>
    {% for thread, post in thread_post_pairs %}
    {% include "components/threadblock.html" with thread=thread post=post %}
    {% endfor %}
</div>
{% endblock %}